/* NAVIGATION STUFF GOES HERE  */
nav{
    ul {
        display: flex;
        justify-content: flex-strat;
        column-gap: $gutter;
    }//end ul
    ul li a {
        margin: 10px 0
 }
 ul li a:hover {
    text-decoration: underline 2px $accentColor;
 } // end hover
} // end nav
//hero
.hero{
    img{
        border-style: none;
        width: 100%;
        height: auto;
    }}
footer div {
    display: grid;
    grid-template-columns: auto auto;
    align-items:center;

}
